<body xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="navbar">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <img src="resources/static/images/saveoursons.jpg" alt="SOS logo" style="width:42px;height:42px;">
    <div class="container">
        <a class="navbar-brand" href="#" style="max-width: 7.5%;">
            <img src="images/saveoursons.jpg" class="img-fluid">
        </a>
        <a class="navbar-brand" href="/">Save Our Sons-Drop the Guns</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/volunteer">Volunteer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/donate">Donate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help">Help</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/bootstrap4-toggle/bootstrap4-toggle.min.js}"></script>

</div>
</body>