
<footer class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="fixed-bottom">
        <div th:fragment="footer">
            <span class="text-muted">Follow Save Our Sons Drop the Guns on </span><a
                href="https://www.facebook.com/SaveOurSonsNoGuns/about/?ref=page_internal" rel="publisher"
                style="text-decoration:none;"><img src="/images/facebook-512.webp"
                                                   style="border:0;width:20px;height:20px;" alt=""/></a>


            <!--        <li>-->
            <!--            <a href="https://twitter.com/" class="twitter-follow-button" data-show-count="false">Follow @SaveOurSonsNoGuns</a>-->
            <!--            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>-->
            <!--        </li>-->
            <!--        <li>-->
            <!--            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://blog.codeleak.pl" data-text="Java, Spring and lots of code" data-via="SaveOurSonsNoGuns">Tweet</a>-->
            <!--            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>-->
            <!--        </li>-->

        </div>
    </div>
</footer>