<footer class="bg-dark text-center text-white" xmlns:th="http://www.w3.org/1999/xhtml">

    <div th:fragment="footer">
        <!-- Footer -->

        <!-- Grid container -->
        <div class="container p-5">
            <!-- Section: Social media -->
            <section >
                <!-- Facebook -->
                <ul class="socialIcons">
                    <li class="facebook"><a href="https://www.facebook.com/SaveOurSonsNoGuns/"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                    <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
                    <li class="instagram"><a href="https://www.instagram.com/"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
                </ul>
            </section>
            <!-- Section: Social media -->


            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Navigate </h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/" class="text-white">Home</a>
                            </li>
                        </ul>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/media" class="text-white">Media</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Our Mission</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/about" class="text-white">About SOS</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Contact Us</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/volunteer" class="text-white">Volunteer</a>
                            </li>
                            <li>
                                <a href="/help" class="text-white">Victim Help</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Support our cause</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/donate" class="text-white">Donate</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </section>
        </div>

                               <!-- Grid container -->

                                <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright
            <a class="text-white" href=""> Save Our Sons</a>
        </div>
                                <!-- Copyright -->
    </div>
</footer>

