<head xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="head">
        <title>Save Our Sons</title>
<!--        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <link th:rel="stylesheet" th:href="@{assets/bootstrap4-toggle/bootstrap4-toggle.min.css}"/>

        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<!--        <link th:rel="stylesheet" th:href="sticky-footer.css">-->
        <link th:href="custom.css" th:rel="stylesheet">
        <script th:src="custom.js"></script>

    </div>

</head>
