<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="donate.css">
    <div th:replace="fragments/fragments :: head"></div>
    <title>Donate</title>
</head>
<body id="body">

<div th:replace="fragments/navbar :: navbar"></div>
<!--<div>-->
<!--<p>click here to donate using paypal</p>-->
<!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post">-->

<!--    &lt;!&ndash; Identify your business so that you can collect the payments. &ndash;&gt;-->
<!--    <input type="hidden" name="business"-->
<!--           value="example@example.org">-->

<!--    &lt;!&ndash; Specify a Donate button. &ndash;&gt;-->
<!--    <input type="hidden" name="cmd" value="_donations">-->

<!--    &lt;!&ndash; Specify details about the contribution &ndash;&gt;-->
<!--    <input type="hidden" name="item_name" value="Friends of the Park">-->
<!--    <input type="hidden" name="item_number" value="Fall Cleanup Campaign">-->
<!--    <input type="hidden" name="currency_code" value="USD">-->

<!--    &lt;!&ndash; Display the payment button. &ndash;&gt;-->
<!--    <input type="image" name="submit"-->
<!--           src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"-->
<!--           alt="Donate">-->
<!--    <img alt="" width="1" height="1"-->
<!--         src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >-->
<!--</form>-->
<!--</div>-->

<p>Donation Form</p><br>
<br>
<br>
<div class="formContainer">

<form action="/donate" method="post" onSubmit="alert('Thank you for your donation.');">
    <label for="firstName">First name:</label><br>
    <input type="text" id="firstName" name="firstName" value=""><br>
    <label for="lastName">Last name:</label><br>
    <input type="text" id="lastName" name="LastName" value=""><br>
    <label for="amount">Amount:</label><br>
    <input type="text" id="amount" name="amount" value=""><br>
    <label for="donorNotes">Donor notes:</label><br>
    <input type="text" id="donorNotes" name="donorNotes" value=""><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" value=""><br>
    <label for="phoneNumber">Phone Number:</label><br>
    <input type="text" id="phoneNumber" name="phoneNumber" value=""><br>
    <label for="street">Street:</label><br>
    <input type="text" id="street" name="street" value=""><br>
    <label for="city">City:</label><br>
    <input type="text" id="city" name="city" value=""><br><br>
    <label for="state">State:</label><br>
    <input type="text" id="state" name="state" value=""><br>
    <label for="zipCode">Zip Code:</label><br>
    <input type="text" id="zipCode" name="zipCode" value=""><br><br>
    <input type="submit" value="Submit">
</form>
</div>

</body>
<br>
<footer th:replace="fragments/footer :: footer"></footer>
</html>