<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<!--    <link rel="stylesheet" href="donate.css">-->
<!--    <script src="https://js.churchcenter.com/modal/v1"></script>-->
    <div th:replace="fragments/fragments :: head"></div>
    <title>Donate</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<p>Under Construction</p>
<!--<a href="https://firstballard.churchcenter.com/giving" data-open-in-church-center-modal="true">Give online</a>-->
<script type="text/javascript" src="https://form.jotform.com/jsform/210734129564152"></script>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>